body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

nav {
    text-align: center;
    margin-top: 10px; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration:none;
    color: #333;
}

main {
    max-width: 7700px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

details {
    margin-bottom: 20px;
}

summary {
    font-weight: bold;
    cursor: pointer;
}

details p {
    margin-top: 10px;
    font-size: 20px;
}
