*{

background-color: darkseagreen;

}

body{

text-align: center;

width: 80%;

margin: 0 auto


}

.row {
    margin: 15px;

}

main article .container img {



width: 150px;
height: 150px;


}

header img{


    display:inline-block;


}

header h1{



display: inline;

}

nav li{


list-style: none;
display: inline-block;
padding-right: 10px;

}

hr{

height: 5px;
background-color: mediumseagreen;

}

main article:nth-child(3) div figure {

display: inline-block;


}
