body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    background-color: darkseagreen;
    text-align: left;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

nav {
    text-align: center;
    margin-top: 10px; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration:none;
    color: #333;
}

main {
    max-width: 7700px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 15px 10px 10px green;
    text-align: left; 
    background-color: rgb(55, 196, 55);
    border-radius: 20px;
    margin-top: 20px;
    
}

details {
    margin-bottom: 60px;
}

summary {
    font-weight: bold;
    cursor: pointer;
}

details p {
    margin-top: 10px;
    font-size: 20px;
}




footer{
    background-color: rgb(42, 156, 42);
    padding: 15px;
    color: white;
    margin-top: 30px;
    border-radius: 20px;
}

#enviar{
    color: black;
    border-radius: 20px;
    padding: 15px;
}